body{
    background-image: url("../login/image/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.content{
    width: 100%;
    text-align: center;
    color: white;
}
.picture{
    width: 400px;
    height: 400px;
    margin: 2% auto;
    border-radius: 50%;
}

.logout{
    width: 200px;
    height: 35px;
    background-color:  #ffc107;
    margin-top: 1%;
    border-radius: 4px;
    color: white;
}